.speakers {
  background-color: #eff8ff;
  width: 100%;
  padding: 100px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  padding: 50px;
}
.description p {
  color: gray;
  font-size: 1.2em;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
