.logoDiv{
    display: flex;
    padding: 10px 30px;
    align-items: center;
}

.fa-bullseye{
    font-size: 40px;
    color: #47CBF2;
    text-shadow: #1c213970 0.5px 0.5px;
}

h3 {
    font-size: 18px;
    text-transform:uppercase;
    color: #47CBF2;
    font-weight: 700;
    text-shadow: #1c213970 0.2px 0.5px;
    letter-spacing: 0.6px;
    padding-left: 5px;
}

@media only screen and (max-width: 799px) {

    h3{
        font-size: 14px;
    }

    .fa-bullseye{
        font-size: 30px;
    }
}