nav {
    background-color: #2A3054;
    display: flex;
    width: 100%;
    padding: 10px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navLogoDiv {
    width: 30%;
}

ul {
    display: flex;
    gap: 15px;
}

.navMenuDiv {
    width: 60%;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-shadow: #0f111ece 0.5px 0.5px;
    letter-spacing: 0.8px;
    font-size: 1em;
}

a:hover,
a:focus {
    color: #0DCAF0 !important;
}

.navButtonDiv {
    width: 20%;
    display: flex;
    justify-content: end;
}


.toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.toggle:hover .hamburger,
.toggle:focus .hamburger {
    background-color: #0DCAF0;
}


@media only screen and (max-width: 1160px) {
    nav {
        flex-wrap: wrap;
        max-height: 90px;
        overflow: hidden;
    }

    ul {
        flex-direction: column;
    }

    .navMenuDiv {
        order: 4;
        width: 100%;
        margin: 20px 0px;
        text-align: center;
    }

    .navLogoDiv {
        order: 2;
    }

    .logoDiv { 
        padding: 10px 0px !important;
    }


    .navButtonDiv {
        order: 1;
        justify-content: start;
    }

    .toggle {
        display: inline-block;
        cursor: pointer;
        order: 3;
    }

    .active {
        max-height: fit-content;
    }
}


@media only screen and (max-width: 799px) {
    .navButtonDiv button {
      height: 60px;
      background-color: transparent !important;
      border: none;
      margin: 0px !important;
      padding: 0px;
    }
}

